<!--<mat-list>
    <h2>list of albums</h2>
    <mat-list-item *ngFor="let album of listOfAlbums; let i=index;">
       {{album?.userId}} -- {{album?.id}} -- {{album?.title}}
      <app-albums></app-albums>
    </mat-list-item>
   </mat-list>-->
   <table id="table-first" mat-table [dataSource]="listOfAlbums" class="mat-elevation-z8">
    <!-- index Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element?.userId | titlecase}} </td>
    </ng-container>
  
    <!-- username Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element?.title}} </td>
    </ng-container>
  
    <app-albums></app-albums>
   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToAlbumsByUserId(row)"></tr>
  </table>
